/* &display=swap
&subset=cyrillic-ext
берем в ковычки наш шрифт
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
body{
	background-color: #ffffff;
	font-family:"Roboto";
	color:#4B4B4B;
	background-color: #F5F5F5;;
}
.header,
.footer{
	padding: 15px;
	background-color:silver;
}

.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main{
flex: 1 1 auto;
	/* fbga */
	
}
.promise{
	padding: 50px;
}

[class*="__container"]{
	box-sizing:content-box;
	max-width: 1020px;
	margin: 0 auto;
	/* margin: 0px 15px; */
}


.titles *:not(:last-child) {
margin: 0px 0px 33px 0px;
}
.titles__label {
	background: url('../img/promise/mark.svg') 0 -2px no-repeat;
	font-weight: 700;
font-size: 12px;
line-height: 2;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5;
padding: 0px 0px 0px 35px;
}

.titles__label_white {
	background: url('../img/impact/mark3.svg') 0 -2px no-repeat;
	color: #fff;
}

.titles__item {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.16;
	color:black;
}
.titles__item_white {
	 color:#fff;
}

.item-title{
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37px;
	color: #F2726F;
}

.item-text{
	line-height: 1.5;
}

.promise__header{
	margin: 0px 0px 68px 0px;
}

.promise__items {
	display: flex;
	margin: 0px -12px;
	flex-wrap: wrap;
	row-gap: 24px;
}
.promise__item {
	flex: 1 1 33.333%;
	padding: 0px 12px;
	/* min-width: 280px; */

	/* fgba */
}

.item-promise {
	display: flex;
	align-items:flex-start;
	column-gap:23px;
}
.item-promise__icon {
	flex: 0 0 63px;
	align-items:flex-start
	/* fbp */
}
.item-promise__body {
	/* padding: 0px 0px 0px 23px; */
}
.item-promise__title {

	margin: 0px 0px 20px 0px;
}



.item-promise__title :not(:last-child){
margin: 0px 0px 30px 0px;
}

.item-promise__text {

}

/* второй блок */
.services{
	padding: 100px 0px 112px 0px;
}
.services__container{
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

.services__header {
	margin: 0px 0px 74px 0px;
}


.services__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -18.5px;
}

.services__items:not(:last-child){
	margin: 0px 0px 66px 0px;
}

.services__item {
	flex: 1 1 33.333%; 
	row-gap: 24px;
	padding: 0 18.5px;
	min-width: 300px;
	/* fbga */
}
.item-services {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 50px 44px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.item-services__icon {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	align-items:flex-end;
	justify-content:center;
}

.item-services__icon img{
	max-width: 100%;
	max-height: 63px;
}

.item-services__icon:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.item-services__tittle {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	/* text-align: center; */
	color: #F2726F;
}

.item-services__tittle:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-services__text {
	flex: 1 0 auto;
}

.item-services__text:not(:last-child) {
	margin: 0px 0px 20px 0px;

}

.item-services__link{
	color:red;

}
.services__button{
	/* display: inline-flex; */
	align-self:center;
	background: #F2726F;
	border-radius: 8px;
	/* min-height: 48px; */
	/* justify-content: center;
	align-items: center; */
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	padding: 12px 25px;
	/* margin: 66px 0px 0px 0px; */
}
/* impact */

.impact {
	background-color: #29C3BE;
	padding: 0px 0px 212px 0px;
	/* position: relative; */
}

.impact__container {
	position: relative;
}

.impact__container::before {
	content:"";
	position: absolute;
	display: block;
	top:0;
	right: -12%;
	/* transform: translate(88% 0); */
	width:68%;
	height: 100%;
	background: url('../img/impact/Blob\ 2.png') 0 0 no-repeat;
}




.impact__body {
	display: flex;
	margin: 0px -15px;
	position: relative;
}

.impact__body:not(:last-child) {
	margin-bottom: 80px;
}

.impact__content {
	padding: 20px 15px 0px 15px;
	flex: 0 1 50%;
		align-self:flex-end;

}
.promise__header {
	max-width: 420px;
}
.impact__img {
	margin: -7.619% 0px 0px 0px;
	padding: 0px 15px;
	flex: 0 0 50%;
	max-width: 100%;
}

.impact__img img{
	border-radius: 40px;
	max-width: 100%;
}

.impact__items {
	margin: 0px -12px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	align-items: flex-start;
}
.impact__item {
	padding: 0px 12px;
	flex: 0 1 25%;
	/* min-width: 280px; */
}
.item-impact {
	display: flex;
	column-gap: 11px;
	align-items:flex-start;
}
.item-impact__icon {
	flex: 0 1 76px;
}
.item-impact__body {
}
.item-impact__value {
	color: #fff;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
}

.item-impact__value:not(:last-child){
	margin: 0px 0px 3px 0px;
}

.item-impact__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
}