/* Обнуление стилей */
*,
*,
::before,
*,
::after {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a,
a.visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

p{
	color:brown;
}
div p.text{
	color:green;
}

*.text{
	color:red;
}

.biggreen{
	font-size: 30px;
	font-size: 20px;
	color: rgb(219, 124, 0);
}

span.biggreen {
	font-size: 30px;
	color: rgb(131, 3, 63);
}

span.biggreen {
	color:red;
}
/* цвет  */
div.block{
	color:blue;
	font-size: 15px;
	border: 1px solid black;
}
/* Название шрифта и его семья */
.arial{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* размер и наклон теста */
.fz30{
	font-size: 30px;
	font-style:italic;
}
/* толшина текста по умолчанию 400 */
.font700{
	font-weight: 700;
}
/* расположение текста */
.textright{
	text-align: justify;
}
/* подчеркивание */
.decoration{
/* text-decoration: overline; */
/* text-decoration: underline; */
text-decoration: line-through;
/* text-decoration: none; */
}
/* тень */
p.shadow{
	color:black;
	text-shadow: 1px 5px 2px #000;
}
/* регистр записи */
.uppercase{
	text-transform: lowercase;
	/* text-transform: capitalize; */
	/* text-transform: uppercase; */
	/* text-transform: none; */
}
/* устанавливает отступ "типо красной страки" */
.ident{
	text-indent: 50px;
}
/* интервал между буквами */
.lspace{
	letter-spacing: 2px;
}
/* интервал между буквами */
.wspace {
	word-spacing: 5px;
}
/* управляет свойствами пробеов между слвами */
.whitespase{
	/* white-space: nowrap; */
	white-space: normal;
}
/* устанавливает межстрочный интервал текста */
.lineheight{
	line-height: 100px;
}
