/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap&subset=cyrillic-ext");
/* Обнуление стилей */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*,
*,
::before,
*,
::after {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a,
a.visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img{
	vertical-align: top;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
html{
	font-size: 12px;
}
body {
    font-family: 'Gilroy';
	color:rgb(0, 0, 0);
	font-size: 16px;
	line-height: 120%;
}

.text{
	font-family: Poppins;
}