//====================================================================================================

//====================================================================================================
.menu__link{
	color:white;
	font-size: 50px;
}

._active{
	color:red;
}